<phpunit bootstrap="tests/boot.php">
	<testsuites>
		<testsuite name="Basement" >
			<directory suffix="Test.php">tests/basement</directory>
		</testsuite>
		<testsuite name="Basement" >
			<directory suffix="Test.php">tests/basement_server</directory>
		</testsuite>
		<testsuite name="Components">
			<directory suffix="Test.php">tests/components</directory>
		</testsuite>
	</testsuites>
<!-- 	<logging>
		<log type="coverage-clover" target="d:/result.xml"/>
	</logging> -->
	<groups>
		<exclude>
			<group>sleep</group>
			<group>server</group>
			<group>database</group>
		</exclude>
	</groups>
<!--	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>tests</directory>
			<exclude>
				<directory>tests/tmp</directory>
				<file>test/boot.php</file>
			</exclude>
		</whitelist>
	</filter>

-->
</phpunit>